.iframe {
 overflow-x:hidden;
 overflow-y:scroll;
}
.servers h2 {
  font-size: 1em;
  color: #fff;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.pointer {
  cursor: pointer;
}
.navbar-brand {
  height: 64px;
  padding: 2px 15px;
  background-color: #fff;
}
.navbar-nav {
  /*margin-top:10px;*/
}
.navbar-nav>li>a {
  padding-top:24px;
  padding-bottom:20px;
}
.navbar-default .navbar-nav>li>a {
  color:#000;
}
.navbar-default {
  background-color: #eae9e9;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #009cda;
  color: #fff;
}
.navbar-form {
 padding-top:8px;
}
.compare-mode {
  color: #000;
  background-color: #ff7171;
  padding: 15px 30px;
  font-weight: bold;
  margin-top: -20px;
  font-size: 1.5em;
  text-align: right;
}
i.glyphicon-new-window {margin: 0 0 0 5px;}
