# Instanstiate Periscope
periscope = window.Periscope

# Setup Menu
opts =
    menuTitles:      ['TopLevelDomain', 'Location', 'Env', 'Host']
    defaults:        ['example.com', 'us', 'dev', 'All']
    listOverride:
        BoxType:
            'Even': /0[2468]/
            'Odd': /0[13579]/
            'All': /.*/
    servers:
        'example.com':
            us:
                dev: [
                    'www01'
                    'www02'
                ]
                stg: [
                    'www01'
                    'www02'
                    'www03'
                    'www04'
                ]
                prd: [
                    'www01'
                    'www02'
                    'www03'
                    'www04'
                    'www05'
                    'www06'
                    'www07'
                    'www08'
                ]
            uk:
                stg: [
                    'www01'
                    'www02'
                    'www03'
                    'www04'
                ]
                prd: [
                    'www01'
                    'www02'
                    'www03'
                    'www04'
                    'www05'
                    'www06'
                    'www07'
                    'www08'
                ]

# Run it!
periscope.upScope opts

